.pagination-container {
  display: flex;
  gap: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.button-style {
  border: none;
  background: none;
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid #2d2dc0ca;
  color: #2d2dc0ca;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-size: 14px;
}

.on-current-page {
  color: whitesmoke;
  background-color: #2d2dc0ca;
  border: none;
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid #2d2dc0ca;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-size: 14px;
}

@media only screen and (max-width: 1200px) {
  .pagination-container {
    transform: translateX(-44%);
  }
  .button-style,
  .on-current-page {
    height: 37px;
    width: 37px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 800px) {
  .pagination-container {
    transform: translateX(-44%);
    gap: 4px;
  }
  .button-style,
  .on-current-page {
    height: 32px;
    width: 32px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 480px) {
  .pagination-container {
    transform: translateX(-44%);
    gap: 2px;
  }
  .button-style,
  .on-current-page {
    height: 22px;
    width: 21px;
    font-size: 9px;
  }
}
